<div class="row-body{$content_class}">
	<div class="body-content">
		<div class="nine columns" id="messages">
			<div class="page-container">
			<div class="page-content">
			<div class="page-header">{$header}</div>
				<div class="page-inner">
					<div class="row">
						<strong>Your privacy is important to us.</strong>
						<br /><br />
						<strong>1</strong>. We dont collect any personal data other than basic contact information absolutely necessary to maintain your account. 
<!--						<br /><br />
						<strong>2</strong>. 
						<br /><br />
						<strong>3</strong>. -->
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="three columns">
			{$sidebar}
		</div>
	</div>
</div>