<div class="row-body{$content_class}">
	<div class="body-content">
		<div class="nine columns" id="messages">
			<div class="page-container">
			<div class="page-content">
			<div class="page-header">{$header}</div>
				<div class="page-inner">
					<div class="row">
						<strong>Soundcrowd is an open community that fully believes in the freedom of speech. However disrespect will never be tolerated. </strong>
						<br /><br />
						<strong>1</strong>. If you dont like someones track and want to comment then be polite and constructive. Too many incidents of misbehavior will get your account deleted. 
<!--						<br /><br />
						<strong>2</strong>. 
						<br /><br />
						<strong>3</strong>.--> 
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="three columns">
			{$sidebar}
		</div>
	</div>
</div>